<form method="post" action="/EditStudentDetails" enctype="multipart/form-data">

    <input type="hidden" name="EditId" value="<%= oldSt.id %>" />
    <table border="1">
        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="name" value="<%= oldSt.name %>"/></td>
        </tr>
        <tr>
            <td>Enter Age</td>
            <td><input type="text" name="age" value="<%= oldSt.age %>"/></td>
        </tr>

        <tr>
            <td>Select gender</td>
            <td>
                <input type="radio" name="gender"  value="male" <% if(oldSt.gender=='male'){ %><%= 'checked' %> <% } %>/>male
                <input type="radio" name="gender"  value="female" <% if(oldSt.gender=='female'){ %><%= 'checked' %> <% } %>/>female
            </td>
        </tr>


        <tr>
            <td>Select Hobby</td>
            <td>
                <input type="checkbox" name="hobby"  value="Reading" <% if(oldSt.hobby.includes('Reading')){ %><%= 'checked' %> <% } %>/>Reading
                <input type="checkbox" name="hobby"  value="Music" <% if(oldSt.hobby.includes('Music')){ %><%= 'checked' %> <% } %>/>Music
                <input type="checkbox" name="hobby"  value="Adventure" <% if(oldSt.hobby.includes('Adventure')){ %><%= 'checked' %> <% } %>/>Adventure
            </td>
        </tr>

        <% var city = ["Surat","Rajkot","Vadodara","Ahmedabad","Navsari"]%>
        <tr>
            <td>Select City</td>
            <td>
                <select name="city">
                    <option value="">--select City--</option>
                    <% city.map((v)=>{ %>
                        <option value="<%= v %>" <%if(v==oldSt.city){ %> <%= 'selected' %> <% } %>><%= v %></option>

                    <% }) %>
                </select>
            </td>
        </tr>

        <tr>
            <td>Upload Image</td>
            <td>
                <input type="file" name="adminImage" />
                
                <img src="<%= oldSt.adminImage %>" height="100" />
            </td>
        </tr>


        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Edit Record" /></td>
        </tr>
    </table>
</form>